*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f1f5f7;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #2c6074;
}

h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header{
    height: 60px;
    width: auto;
    background: #f4fcff;
    padding: 5px;
}

.container-header{
    display: flex;
    justify-content: flex-end;
    width: auto;
    list-style: none;
}

.titulo{
    display: flex;
    
}

.foto-perfil{
    height: 170px;
    border-radius: 100%;
    padding-right: 30px
}

.items-header{
    display: flex;
    padding: 10px;
    width: auto;
}

.section{
    height: 350px;
}

.section-me{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.nav-container{
    display: flex;
    justify-content: space-around;
}

.nav-items{
    color: #2c6074;
    font-size: 14px;
}

.flecha{
    width: 20px;
    margin: 0;
}

.me{
    background: #f4fcff;
    padding: 20px 0 40px 0;
}

.container-skills{
    list-style: none;
}

.skills{
    height: 100px;
}

.container-skills{
    display: flex;
    justify-content: space-around;
}

.educacion{
    height: 150px;
}

.experiencia{
    height: 150px;
}

.contacto{
    height: 150px;
}

.footer{
    height: 150px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
}

.max-width{
    max-width: 980px;
    margin: auto;
}

.proyectos{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 415px) {
    .encabezado{
        font-size: 12px;
    }

    h3{
        font-size: 16px;
    }

    .container-header{
        display: flex;
        justify-content: space-between;
        width: auto;
        list-style: none;
        font-size: 13px;
    }

    .section{
        padding: 10px;
    }

    .titulo{
        font-size: 20px;
    }

    .me{
        padding: 20px;
        background: #f4fcff;
    }

    .container-skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f4fcff;
    }

    .educacion{
        display: flex;
        justify-content: center;
        list-style: none;
        align-items: center;
    }

    .proyectos, .items-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f4fcff;
    }

    .items-contacto{
        height: 100x;
        font-size: 14px;
    }

    .footer{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        background: #f4fcff;
    }
}