header {
    background-color: #000000;
    height: 220px
}

.titulo-header{
    font-size: 50px;
}

.titulo-logo{
    display: flex;
    justify-content: space-around
}

.caja{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

a:hover{
    color: #1c3c6d;
    transition: 0.5s all;
}

.red-social{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 100%;
}

.contenido{
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
    line-height: 10mm;
}

body{
    background-color: rgb(44, 41, 41);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    margin: 20px;
    font-size: 20px;
}

iframe{
    margin: 30px;
    border: solid 2px black;
    border-radius: 5px;
}

iframe:hover{
    border-color: white;
    text-decoration: underline;
}

h1 {
    font-size: 60px;
    line-height: 40mm;
    color: white;
}

h2{
    font-size: 35px;
    font-weight: bold;
    margin: 20px;
}

strong{
    font-family: italic;
    font-weight: bold;
}

#banner{
    position: absolute;
    top: 125px;
    right: 0px;
}

.logo {
    border-radius: 100%;
}

img {
    height: 150px;
    width: 150px;
    margin-top: 14px;
}

iframe{
    height: 250px;
    width: 350px;
}

footer{
    height: 250px;
    background-color: rgb(27, 27, 27);
    padding: 25px;
    line-height: 10mm;
}

.copyright{
    font-size: 13px;
}

@media screen and (max-width: 415px) {
    .caja{
        width: auto;
        display: flex;
        align-items: flex-end;
        padding: 0;
    }

    .logo{
        height: 100px;
        width: 100px;
    }

    .link-header{
        font-size: 10px;
    }

    h2{
        font-size: 35px;
    }

    p{
        font-size: 18px;
    }

    .titulo-header{
        font-size: 40px;
    }
}


